@model IEnumerable<DataVerse.Models.CustomerViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Customers List</h2>
@if (ViewBag.Message != null)
{
    <span class="text-danger">@ViewBag.Message</span>
}
@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-info">
        <strong> Information : </strong>@TempData["InfoMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span>&times;</span>
        </button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        <strong> Error : </strong>@TempData["ErrorMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span>&times;</span>
        </button>
    </div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        <strong> Success! : </strong>@TempData["SuccessMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span>&times;</span>
        </button>
    </div>
}

<p>
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#addCustomerModal">New Customer</a>
</p>
<table class="table table-bordered">
    <tr class="btn-primary">
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.HomePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CellPhone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.HomePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CellPhone)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.id }) |*@
                @* @Html.ActionLink("Details", "Details", new { id = item.id }) |*@
                @*@Html.ActionLink("Delete", "Delete", new { id = item.id })*@
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="@("#editCustomerModal-" + item.id)" data-url="@Url.Action($"Edit/{item.id}")">
                    Edit
                </button>
                @Html.Partial("_editCustomerPartialView", item)
                <button data-customerId="@item.id" class="btn--show-modal btn btn-danger mr-1">Delete</button>
            </td>
        </tr>
    }

</table>
<div class="modal1 hidden">

    <img width="60" class="warning-sign" src="~/Images/Icons/warning.png" alt="">
    <h5>Are you sure your want to delete this Customer?</h5>
    <div>
        <button class="delete-btn">Yes, delete!</button>
        <button class="btn--close-modal">No, cancel</button>
    </div>
</div>
@Html.Partial("_CustomerPartialView", new DataVerse.Models.CustomerViewModel());

@section scripts{
    <script src="~/Scripts/modals.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
